<!DOCTYPE html>
<html>
    <head>
        <title>Handrey Emanuel Galon</title>
        <link rel="icon" href="challenges/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="index.html">About</a>
                <a href="classes.html">Classes</a>
            </div>            
        </header> 
        
        <div id="wrapper">
            <img src="https://avatars1.githubusercontent.com/u/19215767?s=460&u=160c2ec1907118fa09342f84a814fcf7e8c91828&v=4" alt="Handrey E Galon">
            <h1>Handrey Emanuel Galon</h1>
            <h2>Student - Rocketseat</h2>
            <p><a href="https://rocketseat.com.br" target="_blank">Rocketseat</a> launchbase bootcamp student aiming to fit into the market as a full-stack developer.</p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/handreygalon" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/handrey-emanuel-galon" target="_blank">LinkedIn</a>
            <a href="https://www.facebook.com/handrey.emanuel/" target="_blank">Facebook</a>
        </div> 
    </body>
</html>