{% extends "layout.njk" %}

{% block head %}

    <title>Page not found</title>

    <link rel="icon" href="challenges/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}

    <h1>Page not found!</h1>

{% endblock %}