{% extends "layout.html" %}

{% block head %}

    <title>Portfolio - Handrey Emanuel Galon</title>

    <link rel="icon" href="challenges/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}

        <div id="wrapper">
            <h1>Classes</h1>
        </div>

        <section class="cards">
            <div class="card" id="EhnXaybirdA">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/EhnXaybirdA/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>Criando um projeto do zero para seu portfólio</p>
                </div>
    
                <div class="card-info">
                    <p>44:39</p>
                    <p class="card_price">Free</p>
                </div>
            </div>
            
            <div class="card" id="0mYq5LrQN1s">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/0mYq5LrQN1s/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>TypeScript, o início, de forma prática</p>
                </div>
    
                <div class="card-info">
                    <p>01:10:24</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="GOB-lawExXc">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/GOB-lawExXc/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>React Hooks com TypeScript</p>
                </div>
    
                <div class="card-info">
                    <p>48:18</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="dlCUvYOlnDo">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/dlCUvYOlnDo/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>Usando Serverless, Jest e Node.js para corrigir desafios</p>
                </div>
    
                <div class="card-info">
                    <p>55:52</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="P65RJTTqkN4">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/P65RJTTqkN4/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>Formulários no ReactJS & React Native com Unform</p>
                </div>
    
                <div class="card-info">
                    <p>47:08</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="Fbu7z5dXcRs">
                <div class="card-image-container">
                    <img src="https://img.youtube.com/vi/Fbu7z5dXcRs/maxresdefault.jpg" alt="Class">
                </div>
    
                <div class="card-content">
                    <p>SQL no Node.js com Sequelize</p>
                </div>
    
                <div class="card-info">
                    <p>01:40:21</p>
                    <p class="card_price">Free</p>
                </div>
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <script src="scripts.js"></script>

{% endblock %}